
header{
  /* width:850px; */
  position: relative;
}
header img{
  margin:10px;
}
#title{
  font-size: 30px;
  position: absolute;
  display:inline;
  /* left:100px;
  top: 10px;   */
}
header nav{
  margin-right:30px;

  float: right;
}
nav li{
  display:inline-block;
  border:1px black solid;
  padding:10px;
  margin-top:50px;
}
#tally-box{
  border:1px black solid;
  /* display:inline-block;  */
  height:400px;
 
}
main{
  height:300px;
  position: relative;
  border:4px black solid;
  background-color: aqua;
   /* width:; */
}
main img{
  /* width: 230px; */
  height:250px;
}
#table-sec{
  display:block;
  
}
#img-box{
  display:block;
  height:300px;
  margin: 0 auto;
  position: relative;
}
#img-left{
  position: absolute;
  top:30px;
  left:30px;
}
#img-center{
  position: absolute;
  top:30px;
  left:300px;
}
#img-right{
  position: absolute;
  top:30px;
  left:600px;
}

table{
  /* width:100%; */
}
